@model  IEnumerable<aspmvc.Models.Post>

@{
    Layout = "_Layout";
}


<h1>Blogs</h1>



<p>
    Below are a few of the latest posts from some of our experts.
</p>

<div class="blog-posts">
    @foreach (var post in Model)
    {
       <div class="card" style="width: 18rem;">
           <div class="card-body">
               <h5 class="card-title">@post.Title</h5>
               <h6 class="card-subtitle mb-2 text-muted">CPosted <span>@post.Posted</span> by <span>@post.Author</span></h6>
               <div class="card-text">
                @post.Body    
               </div>
           </div>
           </div>
    }
    
</div>